language: ruby
before_script:
  - psql -c 'create database fourpointohblog_test;' -U postgres
after_install: rake db:migrate
rvm:
  - 1.9.3
  - 1.9.2
  - jruby-19mode # JRuby in 1.9 mode
  - rbx-19mode
